/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 20px 0;
}

.slide-container {
  margin-top: 50px;
  width: 80%; /* Ensure it adapts to screen size */
}

.each-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* src/ClockCountdown.css */
.clock-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 2em;
  margin: 5px;
}
